body{
    margin:0;
}

.container{
    height:100vh;
    display:flex;
}

h1{
    padding:1.5rem;
}

.sidebar{
    min-width:300px;
    background-color:whitesmoke;
    display:flex;
    flex-direction:column;
}

ul{
    margin:0;
    padding:1.5rem;
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:16px;
}

.content{
    padding:1.5rem;
    display:flex;
    gap:16px;
}

.card{
    border-radius:12px;
    border:solid;
    width:200px;
    height:250px;
}

.button-container{
    height:40px;
    margin-top:16px;
    gap:16px;
    display:flex;
    justify-content:center;
    align-items:center;
}